.nav ul li {
  padding: 0px 5px;
  margin: 0;
}

.nav ul li:hover {
  background: none !important;
}

.nav ul li a:hover {
  background: none !important;
}

.nav ul li a {
  font-weight: 600;
}

.sign-out-btn {
  font-weight: 600;
  padding: 0;
}
